<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Error</title>
    <link rel="icon" href="static\Images\Manpower favicon.svg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Add a CSS style to increase font size */
        body {
            font-size: 100%;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="text-center">
        <div class="mb-4">
            <a href="https://manpower.nl/">
                <img src="static\Images\Manpower_Logo_OG_Image.png" alt="Logo" class="mx-auto" >
            </a>
        </div>
        <h1 class="text-6xl font-bold text-red-600">ERROR</h1>
        <p class="text-lg mt-2">
            You are not allowed to enter this webpage from you're current location.<br>
            Please make contact with the manpower IT team.
        </p>
    </div>
</body>
</html>